*.o
*.core
*.a
*.so
examples/argparse
examples/concurrency
examples/coroutine1
examples/coroutine2
examples/format
examples/glob
examples/listdir
examples/range
examples/range_pipe
examples/signal
examples/stream1
examples/stream2
test_runner
doc/output
src/string_utf.hh
